<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Academy.E2EProject.listeners"/>
<listener class-name="Academy.E2EProject.ExtentReporterNG"/>
</listeners>
   <test thread-count="5" name="TestNav">
    <classes>
      <class name="Academy.E2EProject.ValidateNav"/>
    </classes>
  </test> 
   <test thread-count="5" name="TestCart">
    <classes>
      <class name="Academy.E2EProject.ValidateCart"/>
    </classes>
  </test> 
   <test thread-count="5" name="TestChangeInPrice">
    <classes>
      <class name="Academy.E2EProject.ValidateChangeInPrice"/>
    </classes>
  </test> 
   <test thread-count="5" name="TestDeliveryDate">
    <classes>
      <class name="Academy.E2EProject.ValidateDeliveryDate"/>
    </classes>
  </test> 
   <test thread-count="5" name="TestDropdown">
    <classes>
      <class name="Academy.E2EProject.ValidateDropdown"/>
    </classes>
  </test> 
   <test thread-count="5" name="TestOrder">
    <classes>
      <class name="Academy.E2EProject.ValidateOrder"/>
    </classes>
  </test> 
   <test thread-count="5" name="TestSofaSearch">
    <classes>
      <class name="Academy.E2EProject.ValidateSofaSearch"/>
    </classes>
  </test> 
   <test thread-count="5" name="TestSubscription">
    <classes>
      <class name="Academy.E2EProject.ValidateSubscription"/>
    </classes>
  </test> 
   <test thread-count="5" name="TestWarranty">
    <classes>
      <class name="Academy.E2EProject.ValidateWarranty"/>
    </classes>
  </test> 
  <test thread-count="5" name="TestTitle">
    <classes>
      <class name="Academy.E2EProject.ValidateTitle"/>
    </classes>
  </test> 
    
</suite> 
